{% if template == 'product' %}


{% if settings.sale_banner_enabled %}
  <div class="price-ui-badges price-ui-badges--{{ settings.sticker_style }}">
    {% comment %}Inject @pixelunion/shopify-price-ui/price-ui-badge begin{% endcomment %}
    {%- assign locale_badge_sold_out = 'product.badge.sold_out' | t -%}
    {%- assign locale_badge_on_sale = 'product.badge.sale' | t -%}
    
    <div class="price-ui-badge price-ui-badge--loading" data-price-ui-badge>
      <noscript>
        <style>
          .price-ui-badge--loading {
            display: block !important;
            opacity: 1 !important;
          }
        </style>
      </noscript>
    
      {% if product.available == false %}
        {%-
          render 'price-ui-templates',
          template: 'price-ui-badge',
          badge: locale_badge_sold_out,
        -%}
      {%- elsif product.compare_at_price > product.price -%}
        {%-
          render 'price-ui-templates',
          template: 'price-ui-badge',
          badge: locale_badge_on_sale,
        -%}
      {%- endif -%}
    </div>
    {% comment %}Inject @pixelunion/shopify-price-ui/price-ui-badge end{% endcomment %}


    {%if collection_handles contains 'pre-order' %}
      <div class="price-ui-badge price-ui-badge--pre-order">
        <div class="price-ui-badge__sticker price-ui-badge__sticker--pre-order">
          <span class="price-ui-badge__sticker-text price-ui-badge__sticker-text--pre-order">{{ 'collections.general.pre_order' | t }}</span>
        </div>
      </div>
    {% elsif collection_handles contains 'new' %}
      <div class="price-ui-badge price-ui-badge--new">
        <div class="price-ui-badge__sticker price-ui-badge__sticker--new">
          <span class="price-ui-badge__sticker-text price-ui-badge__sticker-text--new">{{ 'collections.general.new' | t }}</span>
        </div>
      </div>
    {% endif %}
  </div>
{% endif %}

{% else  %}

{% if settings.sale_banner_enabled %}
  <div class="price-ui-badges price-ui-badges--{{ settings.sticker_style }}">
      {% comment %}Inject @pixelunion/shopify-price-ui/price-ui-badge begin{% endcomment %}
   
      {%- assign locale_badge_on_sale = 'product.badge.sale' | t -%}
    
     
    
    <div class="sold-out_banner_product">
   {%- assign locale_badge_sold_out = 'product.badge.sold_out' | t -%} 
      
      <div class="sold-out_banner_product" data-price-ui-badge>
        <noscript>
          <style>
            .price-ui-badge--loading {
              display: block !important;
              opacity: 1 !important;
            }
          </style>
        </noscript>
      
        {% if product.available == false %}
          {%-
            render 'price-ui-templates',
            template: 'price-ui-badge',
            badge: locale_badge_sold_out,
          -%}
        {%- elsif product.compare_at_price > product.price -%}
          {%-
            render 'price-ui-templates',
            template: 'price-ui-badge',
            badge: locale_badge_on_sale,
          -%}
        {%- endif -%}
      </div>
      {% comment %}Inject @pixelunion/shopify-price-ui/price-ui-badge end{% endcomment %}


      {% if product.available != false %}
    
    {% if collection_handles contains 'pre-order' %}
      <div class="price-ui-badge price-ui-badge--pre-order">
        <div class="price-ui-badge__sticker price-ui-badge__sticker--pre-order">
          <span class="price-ui-badge__sticker-text price-ui-badge__sticker-text--pre-order">{{ 'collections.general.pre_order' | t }}</span>
        </div>
      </div>
    {% elsif collection_handles contains 'new' and product.compare_at_price <= product.price %}
      <div class="price-ui-badge price-ui-badge--new">
        <div class="price-ui-badge__sticker price-ui-badge__sticker--new">
          <span class="price-ui-badge__sticker-text price-ui-badge__sticker-text--new">{{ 'collections.general.new' | t }}</span>
        </div>
      </div>
    {% endif %}
      
	{% endif %}
    </div> 
</div> 
{% endif %}


{% endif %}



