{% if isarticle %}
<div>
  <div class="carousel-image-wrapper">
    <a style="border : 0px;" href="{{ articleURL }}"><img src="{{ articleImg }}" alt="{{ articleTitle }}" data-pin-nopin="true" /></a>
   
  </div>
  <div class="carousel-text-wrapper">
     <h4><a style="border : 0px;" href="{{ articleURL }}">{{ articleTitle }}</a></h4>
    {% if articleTruncate == 0 or arttruncate == 0 %}
    <p></p>
    {% else %}
    <p class="carousel-text-excerpt">{{ articleExcerpt }}</p>
    {% endif %}
  </div>
</div>
{% else %}
   <div>
     <div class="carousel-image-wrapper">
      <a style="border : 0px;" href="{{ ProdURL }}"><img src="{{ ProdImg }}" alt="{{ ProdTitle }}" data-pin-nopin="true"/></a>
     </div>
     <div class="carousel-text-wrapper">
      <h4><a style="border : 0px;" href="{{ ProdURL }}">{{ ProdTitle }}</a></h4>
       <span class="carousel-text-vendor" {%unless pb_displayVendor %}style="display:none;" {%endunless %}>{{ ProdVendor }}</span>
       <span {%unless pb_displayRating %}style="display:none;" {% endunless %}>
        {% include 'pro-blogger.snippet.related-item-rating' %}
         </span>
      <p class="carousel-text-price" {%unless pb_displayPrice %}style="display:none;" {%endunless %}>{{ ProdPrice }}</p>
    </div>
	</div>
{% endif %}

