{% unless template contains 'product' %}
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "ItemList",
      "itemListElement": [
        {% for product in products limit: limit %}
          {
            "@type": "ListItem",
            "position": "{{ forloop.index | json }}",
            "url": "{{ shop.url }}{{ product.url }}",
            "name": "{{ product.title | escape }}"
          } {%- unless forloop.last -%},{%- endunless -%}
        {% endfor %}
      ]
    }
  </script>
{% endunless %}

{% if settings.pagination_type == 'load_more_button' %}
  {% assign paginationType = 'data-load-more--grid' %}
{% endif %}

<div
  class="
    product-list
    product-list--collection
    is-flex
    is-flex-wrap
    equal-columns--outside-trim
  "
  itemtype="http://schema.org/ItemList"
  {{ paginationType }}
>
  {% assign for_limit = limit %}

  {% for product in products limit: limit %}
    {% comment %} if product display is in the loop of products increase limit by one {% endcomment %}
    {% if product.id == skip_product.id  %}
      {% assign for_limit = limit | plus: 1 %}
    {% endif %}
  {% endfor %}

  {% for product in products limit: for_limit %}
    {% comment %} Skip product if we're on its product page {% endcomment %}
    {% if product.id != skip_product.id %}
      {%
        render 'product-thumbnail',
        product: product,
        collection: collection,
        products_per_row: products_per_row,
        sidebar: sidebar,
      %}
    {% endif %}
  {% endfor %}

  {% if template contains 'collection' %}
    {% if settings.pagination_type != 'basic_pagination' %}
      {% if paginate.next.url %}
        <span class="js-load-more load-more">
          <a href="{{ paginate.next.url }}" data-no-instant data-load-more class="global-button global-button--text">
            {% if template contains 'collection' %}
              {{ 'collections.general.load_more' | t }}
            {% elsif template contains 'search' %}
              {{ 'general.search.load_more' | t }}
            {% endif %}
          </a>
        </span>
      {% endif %}
    {% endif %}
  {% elsif template contains 'search' %}
    {% if settings.pagination_type != 'basic_pagination' %}
      {% if paginate.next.url %}
        <span class="js-load-more load-more">
          <a href="{{ paginate.next.url }}" data-no-instant data-load-more class="global-button global-button--text">
            {% if template contains 'collection' %}
              {{ 'collections.general.load_more' | t }}
            {% elsif template contains 'search' %}
              {{ 'general.search.load_more' | t }}
            {% endif %}
          </a>
        </span>
      {% endif %}
    {% endif %}
  {% endif %}
</div>
<div class="load-more__icon"></div>
