<ul class="social_icons">
  {% if settings.behance_link != '' %}
    <li><a href="{{ settings.behance_link }}" title="{{ shop.name }} on Behance" rel="me" target="_blank" class="icon-behance"></a></li>
  {% endif %}

  {% if settings.clubhouse_link != '' %}
    <li><a href="{{ settings.clubhouse_link }}" title="{{ shop.name }} on Clubhouse" rel="me" target="_blank" class="icon-clubhouse"></a></li>
  {% endif %}

  {% if settings.discord_link != '' %}
    <li><a href="{{ settings.discord_link }}" title="{{ shop.name }} on Discord" rel="me" target="_blank" class="icon-discord"></a></li>
  {% endif %}

   {% if settings.dribbble_link != '' %}
    <li><a href="{{ settings.dribbble_link }}" title="{{ shop.name }} on Dribbble" rel="me" target="_blank" class="icon-dribbble"></a></li>
  {% endif %}

  {% if settings.email_link != '' %}
    <li><a href="mailto:{{ settings.email_link }}" title="Email {{ shop.name }}" class="icon-email"></a></li>
  {% endif %}

  {% if settings.facebook_link != '' %}
    <li><a href="{{ settings.facebook_link }}" title="{{ shop.name }} on Facebook" rel="me" target="_blank" class="icon-facebook"></a></li>
  {% endif %}

  {% if settings.flickr_link != '' %}
    <li><a href="{{ settings.flickr_link }}" title="{{ shop.name }} on Flickr" rel="me" target="_blank" class="icon-flickr"></a></li>
  {% endif %}

  {% if settings.houzz_link != '' %}
    <li><a href="{{ settings.houzz_link }}" title="{{ shop.name }} on Houzz" rel="me" target="_blank" class="icon-houzz"></a></li>
  {% endif %}

  {% if settings.instagram_link != '' %}
    <li><a href="{{ settings.instagram_link }}" title="{{ shop.name }} on Instagram" rel="me" target="_blank" class="icon-instagram"></a></li>
  {% endif %}

  {% if settings.kickstarter_link != '' %}
    <li><a href="{{ settings.kickstarter_link }}" title="{{ shop.name }} on Kickstarter" rel="me" target="_blank" class="icon-kickstarter"></a></li>
  {% endif %}

  {% if settings.linkedin_link != '' %}
    <li><a href="{{ settings.linkedin_link }}" title="{{ shop.name }} on LinkedIn" rel="me" target="_blank" class="icon-linkedin"></a></li>
  {% endif %}

  {% if settings.medium_link != '' %}
    <li><a href="{{ settings.medium_link }}" title="{{ shop.name }} on Medium" rel="me" target="_blank" class="icon-medium"></a></li>
  {% endif %}

  {% if settings.messenger_link != '' %}
    <li><a href="{{ settings.messenger_link }}" title="{{ shop.name }} on Messenger" rel="me" target="_blank" class="icon-messenger"></a></li>
  {% endif %}

  {% if settings.opensea_link != '' %}
    <li><a href="{{ settings.opensea_link }}" title="{{ shop.name }} on OpenSea" rel="me" target="_blank" class="icon-opensea"></a></li>
  {% endif %}

  {% if settings.pinterest_link != '' %}
    <li><a href="{{ settings.pinterest_link }}" title="{{ shop.name }} on Pinterest" rel="me" target="_blank" class="icon-pinterest"></a></li>
  {% endif %}

  {% if settings.reddit_link != '' %}
    <li><a href="{{ settings.reddit_link }}" title="{{ shop.name }} on Reddit" rel="me" target="_blank" class="icon-reddit"></a></li>
  {% endif %}

  {% if settings.rss_link != '' %}
    <li><a href="{{ settings.rss_link }}" title="{{ shop.name }} on RSS" rel="me" target="_blank" class="icon-rss"></a></li>
  {% endif %}

  {% if settings.snapchat_link != '' %}
    <li><a href="{{ settings.snapchat_link }}" title="{{ shop.name }} on Snapchat" rel="me" target="_blank" class="icon-snapchat"></a></li>
  {% endif %}

  {% if settings.spotify_link != '' %}
    <li><a href="{{ settings.spotify_link }}" title="{{ shop.name }} on Spotify" rel="me" target="_blank" class="icon-spotify"></a></li>
  {% endif %}

  {% if settings.tiktok_link != '' %}
    <li><a href="{{ settings.tiktok_link }}" title="{{ shop.name }} on TikTok" rel="me" target="_blank" class="icon-tiktok"></a></li>
  {% endif %}

  {% if settings.tumblr_link != '' %}
    <li><a href="{{ settings.tumblr_link }}" title="{{ shop.name }} on Tumblr" rel="me" target="_blank" class="icon-tumblr"></a></li>
  {% endif %}

  {% if settings.twitch_link != '' %}
    <li><a href="{{ settings.twitch_link }}" title="{{ shop.name }} on Twitch" rel="me" target="_blank" class="icon-twitch"></a></li>
  {% endif %}

  {% if settings.twitter_link != '' %}
    <li><a href="{{ settings.twitter_link }}" title="{{ shop.name }} on Twitter" rel="me" target="_blank" class="icon-twitter"></a></li>
  {% endif %}

  {% if settings.vimeo_link != '' %}
    <li><a href="{{ settings.vimeo_link }}" title="{{ shop.name }} on Vimeo" rel="me" target="_blank" class="icon-vimeo"></a></li>
  {% endif %}

  {% if settings.whatsapp_link != '' %}
    <li><a href="{{ settings.whatsapp_link }}" title="{{ shop.name }} on WhatsApp" rel="me" target="_blank" class="icon-whatsapp"></a></li>
  {% endif %}

  {% if settings.youtube_link != '' %}
    <li><a href="{{ settings.youtube_link }}" title="{{ shop.name }} on YouTube" rel="me" target="_blank" class="icon-youtube"></a></li>
  {% endif %}
</ul>
