<section class="section">
  <div class="container content">
    <div
      class="
        one-whole
        column
        collection_nav
      "
    >
      <h1>{{ 'customer.reset_password.title' | t }}</h1>
      <div class="feature-divider"></div>
    </div>

    <div
      class="
        three-eighths
        columns
        medium-down--one-whole
        offset-by-five
        is-hidden-offset-mobile-only
      "
    >
      <br />

      {% form 'reset_customer_password' %}
        <p class="center">
          <em>{{ 'customer.reset_password.subtext' | t: email: email }}</em>
        </p>

        {{ form.errors | default_errors }}

        <div id="password">
          <label for="password">
            {{ 'customer.reset_password.password' | t }}
          </label>
          <input
            class="password"
            id="customer_password"
            name="customer[password]"
            type="password"
            size="16"
          >
        </div>

        <div id="password_confirm">
          <label for="password_confirmation">
            {{ 'customer.reset_password.password_confirm' | t }}
          </label>
          <input
            type="password"
            name="customer[password_confirmation]"
            id="customer_password_confirmation"
            class="password"
            size="16"
          >
        </div>

        <p>
          <input
            class="
              global-button
              global-button--primary
            "
            type="submit"
            value="{{ 'customer.reset_password.submit' | t }}"
          >
        </p>
      {% endform %}
    </div>
  </div>
</section>

{% section 'newsletter' %}
