<script
  type="application/json"
  data-section-type="cart-template"
  data-section-id="{{ section.id }}"
>
</script>

{% liquid
  assign continue_url = routes.all_products_collection_url

  if section.settings.continue_shopping_url != blank
    assign continue_url = section.settings.continue_shopping_url
  endif
%}

<section class="section">
  <div class="container content">
    <div class="one-whole column">
      <h1>{{ 'cart.general.title' | t }}</h1>
      <div class="feature-divider"></div>
    </div>

    {% if cart.item_count == 0 %}
      <div
        class="
          three-eighths
          columns
          medium-down--one-whole
          offset-by-five
          is-hidden-offset-mobile-only
        "
      >
        <p class="quote">
          {{ 'cart.general.continue_browsing_html' | t }}
        </p>
        <a
          class="
            cart__continue-shopping
            global-button
            global-button--text
          "
          href="{{ continue_url }}"
        >
          {{ 'cart.general.continue_shopping' | t }}
        </a>
      </div>
      <br />
    {% else %}
      <div
        class="
          three-eighths
          columns
          medium-down--one-whole
          offset-by-five
          is-hidden-offset-mobile-only
          hidden
          js-empty-cart__message
        "
      >
        <p class="quote">
          {{ 'cart.general.continue_browsing_html' | t }}
        </p>
        <a
          class="
            cart__continue-shopping
            global-button
            global-button--text
          "
          href="{{ continue_url }}"
        >
          {{ 'cart.general.continue_shopping' | t }}
        </a>
      </div>
      <br />

      <form action="{{ routes.cart_url }}" method="post" id="cart_form" data-cart-form="cart-template" data-total-discount="{{ cart.total_discount }}">
        <div class="cart__wrapper is-flex is-flex-wrap">
          <div class="two-thirds columns medium-down--one-whole">
            {%- assign total_saving = 0 -%}

            {% for item in cart.items %}
              {% if item.variant.compare_at_price > item.variant.price %}
                {%- assign saving = item.variant.compare_at_price | minus: item.variant.price | times: item.quantity -%}
                {%- assign total_saving = saving | plus: total_saving -%}
              {% endif %}

              <div class="cart__item {% render 'mw_PO_cart', code: 'class' %}" data-cart-item data-line-id="{{ forloop.index }}" data-variant-id="{{ item.id }}" {% include 'mw_PO_cart' with item, code: 'style' %}>
                {% include 'mw_PO_cart' with item, code: 'relation' %}
                <div class="one-third column medium-down--one-whole cart__item--image">
                  <a href="{{ item.url }}" title="{{ item.title | escape }}" class="cart_page_image">
                    {%
                      render 'image-element',
                      image: item.image,
                      alt: item.title,
                      object_fit: settings.align_height,
                      max_height: settings.collection_height
                    %}
                  </a>
                </div>

                <div class="two-thirds columns medium-down--one-whole cart_content_info cart__item--content">
                  <h3 class="cart__item--title">
                    <a href="{{ item.url }}">{{ item.product.title }}</a>
                  </h3>

                  {% unless item.product.has_only_default_variant or item.variant.title contains "Title" %}
                    <p class="meta">
                      {% for option in item.product.options %}
                        <span class="label">{{ option }}:</span> <span>{{ item.variant.options[forloop.index0] }}</span><br />
                      {% endfor %}
                    </p>
                  {% endunless %}

                  {% comment %}
                  {% if item.selling_plan_allocation.selling_plan %}
                    <p class="meta">{{ item.selling_plan_allocation.selling_plan.name }}</p>
                  {% endif %}

                  {% if item.properties %}
                    <p>
                      {% for p in item.properties %}
                        {% unless p.last == blank %}
                          {% if p.last contains '/uploads/' %}
                            <div>
                              {{ p.first }}: <a class="lightbox" href="{{ p.last }}">{{ 'cart.general.uploaded_file' | t }}</a>
                            </div>
                          {% else %}

                            <div>
                              {{ p.first }}: {{ p.last }}
                            </div>
                          {% endif %}
                        {% endunless %}
                      {% endfor %}
                    </p>
                  {% endif %}
                  {% endcomment %}
                  {% if item.properties %}
                    {% include 'mw_PO_cart' with item, code: 'properties' %}
                  {% endif %}

                <p class="modal_price">
                  {% if item.price > 0 %}
                    <span class="money {% if item.price < item.variant.compare_at_price or item.line_level_discount_allocations.size > 0 %}sale{% endif %}">
                      {% include 'mw_PO_cart' with item, code: 'price' %}
                    </span>

                    {% if item.price < item.variant.compare_at_price or item.line_level_discount_allocations.size > 0 %}
                      <span class="money was_price">
                        {%
                          render 'price-element',
                          price: item.variant.compare_at_price
                        %}
                      </span>
                    {% endif %}
                  {% else %}
                    {{ settings.free_price_text }}
                  {% endif %}
                </p>

                {%
                  render 'unit-price',
                  item: item,
                  variant: item.variant,
                  product: item.product,
                  class: 'cart__item-unit-price'
                %}

                {% if item.line_level_discount_allocations.size > 0 %}
                  {% for discount_allocation in item.line_level_discount_allocations %}
                    <p class="meta cart__item--discount">
                      <span class="label">{{ 'cart.general.discount' | t }}:</span>
                      {{ discount_allocation.discount_application.title }} (-
                      <span class="money">
                        {%
                          render 'price-element',
                          price: discount_allocation.amount
                        %}
                      </span>)
                    </p>
                  {% endfor %}
                {% endif %}

                <div class="product-quantity-box left">
                  <span class="ss-icon product-minus js-change-quantity" data-func="minus">
                    <span class="icon-minus"></span>
                  </span>

                  <input type="number" min="0" size="2" class="quantity" name="updates[]" id="updates_{{ item.id }}" value="{{ item.quantity }}" data-cart-quantity-input="cart-template" {% if settings.limit_quantity and item.variant.inventory_management != blank and item.variant.inventory_quantity > 0 and item.variant.inventory_policy == "deny" %}max="{{ item.variant.inventory_quantity }}"{% endif %} />

                  <span class="ss-icon product-plus js-change-quantity" data-func="plus">
                    <span class="icon-plus"></span>
                  </span>
                </div>

                <!-- <p class="price_total">
                  <strong>{{ 'cart.general.total' | t }}:</strong>

                  {% if item.line_level_discount_allocations.size > 0 %}
                    <span class="money">
                      {%
                        render 'price-element',
                        price: item.final_line_price
                      %}
                    </span>
                  {% endif %}

                  <span class="money {% if item.line_level_discount_allocations.size > 0 %}was_price{% endif %}">
                    {%
                      render 'price-element',
                      price: item.original_line_price
                    %}
                  </span>
                </p> -->

                <a href="{{ routes.cart_change_url }}?line={{ forloop.index }}&amp;quantity=0" class="cart__remove-btn" data-line-id="{{ forloop.index }}" data-remove-item="cart-template"><span class="remove-text">{{ 'cart.general.remove' | t }}</span> <span class="remove-icon"></span></a>
              </div>
            </div>
          {% endfor %}
        </div>

        <div class="one-third column medium-down--one-whole">
          <div class="subtotal">
            {% if cart.cart_level_discount_applications != blank %}
              <p class="cart_discounts js-cart_discounts sale">
                {% for discount_application in cart.cart_level_discount_applications %}
                  <span class="cart_discounts--title">{{ discount_application.title }}</span>
                  <span class="cart_discounts--price">
                    -
                    <span class="money">
                      {%
                        render 'price-element',
                        price: discount_application.total_allocated_amount
                      %}
                    </span>
                  </span>
                {% endfor %}
              </p>
            {% endif %}

            <p class="cart_subtotal js-cart_subtotal">
              <span class="right">
                <span class="money">
                  {%
                    render 'price-element',
                    price: cart.total_price
                  %}
                </span>
              </span>
              <span>{{ 'cart.general.subtotal' | t }}</span>
            </p>

            <div class="product-payment-terms">
              {%- form 'cart', cart, id: 'product-form-installment', class: 'installment caption-large' -%}
                {{ form | payment_terms }}
              {%- endform -%}
            </div>

            {%- capture taxes_shipping_checkout -%}
              {%- if cart.taxes_included and shop.shipping_policy.body != blank -%}
                {{ 'cart.general.taxes_included_and_shipping_policy_html' | t: link: shop.shipping_policy.url }}
              {%- elsif cart.taxes_included -%}
                {{ 'cart.general.taxes_included_but_shipping_at_checkout' | t }}
              {%- elsif shop.shipping_policy.body != blank -%}
                {{ 'cart.general.taxes_and_shipping_policy_at_checkout_html' | t: link: shop.shipping_policy.url }}
              {%- else -%}
                {{ 'cart.general.tax_and_shipping' | t }}
              {%- endif -%}
            {%- endcapture -%}

            <!-- <p class="cart-message meta">{{ taxes_shipping_checkout }}</p> -->

            <!-- {% if section.settings.display_savings and total_saving > 0 or section.settings.display_savings and cart.total_discount > 0 %}
              <p class="cart_savings js-cart_savings sale">
                <span class="right">
                  <span class="money">
                    {% assign total_savings = total_saving | plus: cart.total_discount %}
                    {%
                      render 'price-element',
                      price: total_savings
                    %}
                  </span>
                </span>
                <span>{{ 'layout.general.savings' | t }}</span>
              </p>
            {% endif %}

            {% unless shop.enabled_currencies.size > 1 %}
              <p>
                <small>{{ 'cart.general.orders_processed_in_currency_html' | t: currency: shop.currency }}</small>
              </p>
            {% endunless %} -->

            {% if section.settings.display_special_instructions %}
              <label for="note">{{ 'cart.general.note' | t: shop_name: shop.name }}:</label>
              <textarea id="note" name="note" rows="2">{{ cart.note }}</textarea>
            {% endif %}

            {% if settings.display_tos_checkbox %}
              <p>
                <input type="checkbox" class="tos_agree" id="cart_agree" required />

                <label class="tos_label" for="cart_agree">
                  {{ 'cart.general.agree_to_terms_html' | t }}
                  {% if settings.tos_page != blank %}
                    <a href="{{ settings.tos_page }}" target="_blank" class="tos_icon">{{ 'cart.general.view_terms' | t }}</a>
                  {% endif %}
                </label>
              </p>
            {% endif %}

            {% if section.settings.cart_message != blank %}
              {{ section.settings.cart_message }}
            {% endif %}

            <p id="custom-cart-text"><strong>International Customers:</strong> Please note the customs authority in your country may require a payment of tax or duty before you receive your package.</p>
            <div class="route-div" opt-in=""></div>

            <p class="tos_warning checkout_button">
              <button type="submit" class="global-button global-button--primary add_to_cart" id="checkout" name="checkout" data-cart-checkout-button>{% if settings.show_lock_icon %}<span class="icon-lock"></span>{% endif %}{{ 'cart.general.checkout' | t }}</button>
            </p>

            {% if content_for_additional_checkout_buttons %}
              <div class="additional-checkout-buttons additional-checkout-buttons--vertical">
                {{ content_for_additional_checkout_buttons }}
              </div>
            {% endif %}

            {% if cart.item_count > 0 %}
              <a class="continue-shopping" href="{{ continue_url }}">
                {{ 'cart.general.continue_shopping' | t }}
              </a>
            {% endif %}
          </div>
        </div>
      </div>
    </form>
  {% endif %}
  </div>
</section>

{% render 'cart-shipping-calculator' %}

{% schema %}
{
  "name": "Cart page",
  "class": "shopify-section--cart-template",
  "settings": [
    {
      "type": "checkbox",
      "id": "display_special_instructions",
      "label": "Show \"note\" text box"
    },
    {
      "type": "checkbox",
      "id": "display_savings",
      "label": "Show total savings",
      "default": true
    },
    {
      "type": "richtext",
      "id": "cart_message",
      "label": "Cart message"
    },
    {
      "type": "url",
      "id": "continue_shopping_url",
      "label": "Continue shopping link",
      "info": "Where to direct customers after clicking \"Continue shopping\""
    }
  ]
}

{% endschema %}