<script
  type="application/json"
  data-section-type="collection-list"
  data-section-id="{{ section.id }}"
>
</script>

{%- assign id = section.id -%}

{% comment %} Content settings {% endcomment %}
{%- assign title = section.settings.title | escape -%}
{%- assign blocks = section.blocks -%}
{% comment %} End content settings {% endcomment %}

{% comment %} Advanced {% endcomment %}
{%- assign css_class = section.settings.css_class -%}
{%- assign custom_css = section.settings.custom_css -%}

{% comment %} Section specific CSS {% endcomment %}
{% style %}
  {%
    render 'css-loop',
    css: custom_css,
    id: id
  %}
{% endstyle %}

{% if blocks.size > 0 %}
  <section class="section {{ css_class }}">
    <div class="container">
      {% if title != blank %}
        <div class="one-whole column center">
          <h2 class="title">{{ title }}</h2>
          <div class="feature-divider"></div>
        </div>
      {% endif %}

      <div class="one-whole column">
        <div class="list-collections-wrapper">
          <div class="list-collections equal-columns--outside-trim is-flex is-flex-wrap">
            {% for block in blocks %}
              {% comment %} Content settings {% endcomment %}
              {%- assign collection = collections[block.settings.feature_collection] -%}
              {%- assign image = block.settings.image -%}
              {% comment %} End content settings {% endcomment %}

              {% if image %}
                {%- assign collection_image = image -%}
                {%- assign collection_image_alt = image.alt | escape -%}
              {% elsif collection.image != blank %}
                {%- assign collection_image = collection.image -%}
                {%- assign collection_image_alt = collection.title | escape -%}
              {% else collection.empty? == false %}
                {%- assign collection_image = collection.products.first.featured_image -%}
                {%- assign collection_image_alt = collection.products.first.featured_image.alt | escape -%}
              {% endif %}

              <div class="{% render 'column-width', value: section.settings.frontpage_collections_per_row %} column {% if section.settings.collection_count == blank and section.settings.frontpage_collections_title == blank %}blank{% endif %} thumbnail {% if settings.mobile_products_per_row == '1' %} medium-down--one-half small-down--one-whole {% else %} medium-down--one-half small-down--one-half {% endif %}" {{ block.shopify_attributes }}>
                <div class="product-wrap">
                  {% if collection_image != blank %}
                    <div class="image__container">
                      {%
                        render 'image-element',
                        image: collection_image.src,
                        alt: collection_image_alt,
                        object_fit: section.settings.align_height,
                        max_height: section.settings.collection_height
                      %}
                    </div>
                  {% else %}
                    {% capture num %}{% cycle "1", "2", "3", "4", "5", "6" %}{% endcapture %}
                    {{ 'collection-' | append: num | placeholder_svg_tag: 'placeholder-svg' }}
                  {% endif %}

                  <a href="{{ collection.url }}" class="hidden-product-link">
                    {% if collection != blank %}
                      {{ collection.title }}
                    {% else %}
                      {{ 'homepage.onboarding.collection_title' | t }}
                    {% endif %}
                  </a>

                  {% if settings.thumbnail_hover_enabled %}
                    <div class="thumbnail-overlay">
                      <a href="{{ collection.url }}" class="hidden-product-link">
                        {% if collection != blank %}
                          {{ collection.title }}
                        {% else %}
                          {{ 'homepage.onboarding.collection_title' | t }}
                        {% endif %}
                      </a>

                      <div class="info">
                        <div class="collection-details">
                          <span class="title">
                            {% if collection != blank %}
                              {{ collection.title }}
                            {% else %}
                              {{ 'homepage.onboarding.collection_title' | t }}
                            {% endif %}
                          </span>
                        </div>
                        <a
                          href="{{ collection.url }}"
                          title="{{ collection_title }}"
                          class="thumbnail-overlay__button global-button global-button--product-grid-text-hover"
                        >
                          {{ 'collections.general.view_all' | t }}
                        </a>
                      </div>
                    </div>
                  {% endif %}

                  <a class="collection-info__caption {% if settings.thumbnail_hover_enabled %}hidden{% endif %}" href="{{ collection.url }}">
                    <span class="title">
                      {% if collection != blank %}
                        {{ collection.title }}
                      {% else %}
                        {{ 'homepage.onboarding.collection_title' | t }}
                      {% endif %}
                    </span>
                  </a>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </section>
{% endif %}

{% if section.settings.align_height == true %}
  <style>
    #shopify-section-{{ section.id }} .list-collections .thumbnail img {
      max-height: {{ section.settings.collection_height }}px;
    }
  </style>
{% endif %}

{% schema %}
{
  "name": "Collection list",
  "class": "shopify-section--collection-list",
  "max_blocks": 8,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Collection list"
    },
    {
      "type": "checkbox",
      "id": "align_height",
      "label": "Align height of collection images",
      "default": false
    },
    {
      "type": "range",
      "id": "collection_height",
      "label": "Collection image height",
      "min": 150,
      "max": 400,
      "step": 10,
      "default": 200,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "frontpage_collections_per_row",
      "label": "Collections per row",
      "min": 2,
      "max": 5,
      "step": 1,
      "default": 3
    },
    {
      "type": "header",
      "content": "Advanced"
    },
    {
      "type": "paragraph",
      "content": "[Learn more](https://help.outofthesandbox.com/hc/en-us/articles/360022329373)"
    },
    {
      "type": "text",
      "id": "css_class",
      "label": "CSS Class"
    },
    {
      "type": "textarea",
      "id": "custom_css",
      "label": "Custom CSS"
    }
  ],
  "blocks": [
    {
      "type": "collection",
      "name": "Collection",
      "settings": [
        {
          "type": "collection",
          "id": "feature_collection",
          "label": "Collection"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    }
  ],
  "presets": [{
    "name": "Collection list",
    "category": "Collection",
    "blocks": [
      {
        "type": "collection"
      },
      {
        "type": "collection"
      },
      {
        "type": "collection"
      }
    ]
  }]
}

{% endschema %}