<script
  type="application/json"
  data-section-type="gallery"
  data-section-id="{{ section.id }}"
>
</script>

{% comment %} Section specific CSS {% endcomment %}
{% style %}
  {%
    render 'css-loop',
    css: section.settings.custom_css,
    id: section.id
  %}
{% endstyle %}

<section
  class="
    section
    {% if section.settings.wide_display == true %}
      is-width-wide
      has-no-side-gutter
    {% endif %}
    {{ section.settings.css_class }}
  "
>
  <div
    class="
      container
      gallery-section
      gallery-{{ section.settings.gallery_type }}
      {% if section.settings.wide_display %}
        adjust-columns
      {% endif %}
    "
    id="gallery_section-{{ section.id }}"
  >
    {% if section.settings.title != blank %}
      <div class="one-whole column">
        <h2 class="title center">
          {{ section.settings.title | escape }}
        </h2>
        <div class="feature-divider"></div>
      </div>
    {% endif %}

    {% if section.blocks.size > 0 %}
      {% if section.settings.gallery_type == 'masonry' %}
        <div
          class="
            masonry
            {% if section.settings.wide_display %}
              adjust-columns
            {% endif %}
            {% if section.settings.grid-size == 2 %}
              two-per-row
            {% elsif section.settings.grid-size == 3 %}
              three-per-row
            {% elsif section.settings.grid-size == 4 %}
              four-per-row
            {% else %}
              five-per-row
            {% endif %}
          "
        >
      {% endif %}

      {% for block in section.blocks %}
        {% if block.settings.image != blank %}
          <div
            class="
              gallery-image-wrapper
              {% unless section.settings.gallery_type == 'horizontal' or section.settings.gallery_type == 'masonry' %}
                {%
                  render 'column-width',
                  value: section.settings.grid-size
                %}
                column
                medium-down--one-whole
              {% endunless %}
              {% unless section.settings.wide_display %}
                add-padding
              {% endunless %}
            "
            {{ block.shopify_attributes }}
          >
            <div class="gallery-cell">
              {% if section.settings.enable_lightbox %}
                <a
                  class="
                    gallery
                    gallery-{{ section.id }}
                  "
                  href="javascript:;"
                  data-fancybox="{{ section.id }}"
                  data-src="{{ block.settings.image |  img_url: '2000x' }}"
                  rel="gallery"
                >
              {% endif %}

              <i class="image-{{ block.id }}"></i>

              {%
                render 'image-element',
                image: block.settings.image,
                alt: block.settings.image.alt,
                additional_classes: 'gallery__image',
              %}

              {% if section.settings.enable_lightbox and image_link == blank %}
                <div class="gallery-overlay">
                  <span class="icon-zoom"></span>
                </div>
              {% endif %}

              {% if section.settings.enable_lightbox or image_link != blank %}
                </a>
              {% endif %}
            </div>
          </div>
        {% else %}

          {% if section.settings.gallery_type == 'horizontal' and section.settings.wide_display %}
            {% capture placeholder_sizing %}{% cycle 'style="width:30%"', 'style="width:20%"', 'style="width:20%"', 'style="width:30%"', 'style="width:20%"', 'style="width:30%"', 'style="width:30%"', 'style="width:20%"' %}{% endcapture %}
          {% elsif section.settings.gallery_type == 'horizontal' %}
            {% capture placeholder_sizing %}{% cycle 'style="width:calc(30% - 10px);"', 'style="width:calc(20% - 10px);"', 'style="width:calc(20% - 10px);"', 'style="width:calc(30% - 10px);"',  'style="width:calc(20% - 10px);"', 'style="width:calc(30% - 10px);"', 'style="width:calc(30% - 10px);"', 'style="width:calc(20% - 10px);"' %}{% endcapture %}
          {% elsif section.settings.gallery_type == 'masonry' %}
            {% capture placeholder_sizing %}{% cycle 'style="height:150px"', 'style="height:200px"', 'style="height:200px"', 'style="height:150px"', 'style="height:200px"', 'style="height:150px"', 'style="height:150px"', 'style="height:200px"' %}{% endcapture %}
          {% endif %}

          <div class="gallery-empty-wrapper {% unless section.settings.gallery_type == 'horizontal' or section.settings.gallery_type == 'masonry' %}{% render 'column-width', value: section.settings.grid-size %} column medium-down--one-whole{% endunless %} {% unless section.settings.wide_display %}add-padding{% endunless %}" {{ block.shopify_attributes }} {{ placeholder_sizing }}>
            {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
          </div>
        {% endif %}

        {% unless section.settings.gallery_type == 'horizontal' or section.settings.gallery_type == 'masonry' %}
          {% if section.settings.grid-size == 2 %}
            {% cycle '', '<br />' %}
          {% elsif section.settings.grid-size == 3 %}
            {% cycle '', '', '<br />' %}
          {% elsif section.settings.grid-size == 4 %}
            {% cycle '', '', '', '<br />' %}
          {% elsif section.settings.grid-size == 5 %}
            {% cycle '', '', '', '', '<br />' %}
          {% endif %}
        {% endunless %}
      {% endfor %}

      {% if section.settings.gallery_type == 'masonry' %}
        </div>
      {% endif %}
    {% endif %}
  </div>
</section>

{% schema %}
{
  "name": "Gallery",
  "class": "shopify-section--gallery",
  "max_blocks": 24,
  "settings": [
    {
      "type": "checkbox",
      "id": "wide_display",
      "label": "Wide display",
      "default": false
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Gallery"
    },
    {
      "type": "select",
      "id": "gallery_type",
      "label": "Gallery style",
      "default": "classic",
      "options": [
        {
          "value": "classic",
          "label": "Classic"
        },
        {
          "value": "horizontal",
          "label": "Horizontal masonry"
        },
        {
          "value": "masonry",
          "label": "Vertical masonry"
        }
      ]
    },
    {
      "type": "range",
      "id": "grid-size",
      "label": "Number of columns",
      "min": 2,
      "max": 5,
      "step": 1,
      "default": 4,
      "info": "Vertical masonry and classic only"
    },
    {
      "type": "checkbox",
      "id": "enable_lightbox",
      "label": "Enable lightbox",
      "default": true
    },
    {
      "type": "header",
      "content": "Advanced"
    },
    {
      "type": "paragraph",
      "content": "[Learn more](https://help.outofthesandbox.com/hc/en-us/articles/360022329373)"
    },
    {
      "type": "text",
      "id": "css_class",
      "label": "CSS Class"
    },
    {
      "type": "textarea",
      "id": "custom_css",
      "label": "Custom CSS"
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "800 x 800px recommended"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Gallery",
      "category": "Image",
      "blocks": [
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        }
      ]
    }
  ]
}

{% endschema %}