<section class="section">
  <a name="pagecontent" id="pagecontent"></a>
  <div class="container content">
    <div class="one-whole column collection_nav">
      <h1 class="collection_title">{{ 'general.404.title' | t }}</h1>
    </div>

    <div class="one-whole column">
      <p class="quote">{{ 'general.404.subtext' | t }}</p>
    </div>

    <div class="one-whole column center">
      <p class="extra_padding">{{ 'general.404.continue_shopping_html' | t }}</p>
    </div>

    <div class="three-eighths columns medium-down--one-whole offset-by-five is-hidden-offset-mobile-only" data-autocomplete-{{ settings.enable_autocomplete }}>
      <form class="search search__form" action="{{ routes.search_url }}">
        <input type="hidden" name="type" value="{{ settings.search_option }}" />
        <span class="icon-search search-submit"></span>
        <input type="text" name="q" class="search_box" placeholder="{{ 'general.search.placeholder' | t }}"  value="{{ search.terms }}" />
      </form>
    </div>
  </div>
</section>
