{% comment %}
  The contents of the product.description-bottom.liquid template can be found in /sections/product-description-bottom-template.liquid
{% endcomment %}

<section class="section has-padding-top">
  <a name="pagecontent" id="pagecontent"></a>
  <div class="container">

    {% render 'product__structured-data' %}

    <div class="breadcrumb__wrapper one-whole column">
      <div class="breadcrumb-collection breadcrumb-collection--product">
        {% if collection.previous_product or collection.next_product %}
          <div class="nav_arrows breadcrumb_text">
            {% if collection.previous_product %}
              <a href="{{ collection.previous_product }}" title="{{ 'products.general.previous_product_html' | t }}" class="breadcrumb_link"><span class="icon-left-arrow"> {{ 'products.general.previous_product_html' | t }}</span></a>
            {% endif %}
            {% if collection.previous_product and collection.next_product %}<span class="breadcrumb-divider"> | </span>{% endif %}

            {% if collection.next_product %}
              <a href="{{collection.next_product}}" title="{{ 'products.general.next_product_html' | t }}" class="breadcrumb_link">{{ 'products.general.next_product_html' | t }} <span class="icon-right-arrow"></span></a>
            {% endif %}
          </div>
        {% endif %}

        {% render 'product__breadcrumb' %}
      </div>
    </div>

    <section class="section--has-sidebar-option is-flex is-flex-wrap has-padding-top">
      {% section 'product-sidebar' %}
      {% section 'product-description-bottom-template' %}
      {% section 'product-recommendations' %}
    </section>
  </div>
</section>
